<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="Web.Secrets.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UseMockYouTubeData" value="false" />
    <add key="YouTubeSyncEnabled" value="true" />
    <add key="YouTubeSyncIntervalMinutes" value="360" />
    <add key="YouTubeSyncStartupDelaySeconds" value="15" />
    <add key="YouTubeSyncLeaseMinutes" value="30" />
    <add key="YouTubeSyncRetryCount" value="3" />
    <add key="YouTubeSyncAnalyticsLagDays" value="3" />
    <add key="YouTubeSyncInitialDays" value="28" />
    <add key="YouTubeSyncOverlapDays" value="3" />
    <add key="YouTubeSyncHistoryDays" value="365" />
    <add key="YouTubeSyncBackfillChunkDays" value="30" />
    <add key="YouTubeApplicationName" value="Veerangana Video Intelligence" />
    <add key="YouTubeClientId" value="" />
    <add key="YouTubeClientSecret" value="" />
    <add key="YouTubeRefreshToken" value="" />
    <add key="YouTubeApiKey" value="" />
    <add key="YouTubeChannelId" value="UCunOcroJqBvKjKAC6W89tRA" />
    <add key="YouTubeChannelHandle" value="@VeeranganaUttarpradesh" />
    <add key="YouTubeChannelUrl" value="https://www.youtube.com/@VeeranganaUttarpradesh" />
    <add key="YouTubeOAuthRedirectUri" value="" />
    <add key="YouTubeOAuthScopes" value="https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/youtube.readonly" />
  </appSettings>
  <connectionStrings>
    <add name="VeeranganaAnalyticsDb" connectionString="Data Source=KAJU;Initial Catalog=VeeranganaYouTubeAnalytics;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;Persist Security Info=False;MultipleActiveResultSets=False;Application Name=Veerangana Video Intelligence" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.76.0.0" newVersion="1.76.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.76.0.0" newVersion="1.76.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
